# This is a practice of [DataTalks](https://github.com/guipsamora/pandas_exercises)

### Importing necessary libraries

In [9]:
import pandas as pd 
import numpy as np

### Import the dataset from this [link](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv)

In [75]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'

### Assign it to a variable called chipo.

In [76]:
chipo  = pd.read_csv(url, '\t') ### Meaning tab seperated values

C:\Users\bilgimuh\AppData\Local\Temp\ipykernel_18384\1054333866.py:1: FutureWarning: In a future version of pandas all arguments of read_csv except for the argument 'filepath_or_buffer' will be keyword-only.
  chipo  = pd.read_csv(url, '\t') ### Meaning tab seperated values

###  See the first 10 entries

In [74]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",10.98
6,3,1,Side of Chips,NaN,1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",9.25

### What is the number of observations in the dataset?

In [12]:
# Solution 1 
chipo.shape  # entries <= 4622 observations

(4622, 5)

In [68]:
# Splution 2 
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

### Step 6. What is the number of columns in the dataset?

In [18]:
chipo.shape[1] #

5

### Step 7. Print the name of all the columns.

In [19]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

In [20]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [42]:
item_quants = chipo.groupby(['item_name']).agg({'quantity': 'sum'}) # Allow u have dataframe
item_quants.sort_values('quantity',ascending = False)[:1]

              quantity
item_name
Chicken Bowl       761

In [41]:
#Alternative Solution
c = chipo.groupby('item_name')
c = c.sum()
c = c.sort_values(['quantity'], ascending=False)
c.head(1)

              order_id  quantity
item_name
Chicken Bowl    713926       761

### Step 10. For the most-ordered item, how many items were ordered?

### Step 11. What was the most ordered item in the choice_description column?

In [44]:
#Alternative Solution
c = chipo.groupby('choice_description')
c = c.sum()
c = c.sort_values(['quantity'], ascending=False)
c.head(1)

                    order_id  quantity
choice_description
[Diet Coke]           123455       159

### Step 12. How many items were orderd in total?

In [45]:
total_items_orders  =   chipo.quantity.sum()
total_items_orders

4972

### Step 13. Turn the item price into a float

In [63]:
chipo.item_price.str.slice(1).astype(float).head()

0     2.39
1     3.39
2     3.39
3     2.39
4    16.98
Name: item_price, dtype: float64

In [53]:
chipo['item_price'] = chipo.item_price.str.slice(1).astype(float)

In [69]:
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

In [56]:
# Recommended usage
pd.to_numeric

#### Step 13.a. Check the item price type

In [57]:
chipo.item_price.dtype # Solution 1

dtype('float64')

In [62]:
chipo.info() # Solution 2

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

#### Step 13.b. Create a lambda function and change the type of item price

In [70]:
lam = lambda x: float(x[1:])
chipo.item_price.apply(lam)[:5]

0     2.39
1     3.39
2     3.39
3     2.39
4    16.98
Name: item_price, dtype: float64

In [77]:
# Another Solution

dollarizer =   lambda x: float(x[1:-1])
chipo.item_price = chipo.item_price.apply(dollarizer)

chipo.item_price.dtype

dtype('float64')

### Step 14. How much was the revenue for the period in the dataset?

In [78]:
chipo['item_price'].sum()

34500.16

### Step 15. How many orders were made in the period?

In [83]:
orders = chipo.order_id.value_counts().count()
orders

1834

### Step 16. What is the average revenue amount per order?

In [89]:
# Solution 1 

chipo['revenue'] = chipo['quantity'] * chipo['item_price']
order_grouped = chipo.groupby(by=['order_id']).sum()
order_grouped.mean()['revenue']

21.394231188658654

In [ ]:
# Solution 2

chipo.groupby(by=['order_id']).sum().mean()['revenue']

### Step 17. How many different items are sold?

In [90]:
chipo.item_name.value_counts().count()

50

In [91]:
# Another solution
chipo.item_name.nunique()

50